@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

body {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;;
    background-color: #f2f8fa;
}

/* Header Section */

#main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    background-color: #F6FCFD;
    box-shadow: 0px 5px 30px rgba(18, 41, 47, 0.2);
    padding: 0 2rem 0 6.25rem;
    width: 100%;
}

.img-search {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    width: 50%;
}

input[type=text] {
    display: block;
    background: transparent url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'><path fill='rgb(54,57,59)' d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z' ></path></svg>") no-repeat 15.5rem center;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0 0.8rem;
    color: #65696A;
    background-color: #E4EDED;
    transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
    border-radius: 0.3125rem;
    border: 0;
    outline: 0;
    height: 2rem;
    width: 325px;
}

nav {
    position: absolute;
    left: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.375rem 0;
}

nav .active {
    color: #12292F;
    border-bottom: 3px solid #FF8181;
}

nav .inactive {
    color: #6A7B7B;
    border-bottom: 3px solid transparent;
}

#main-header span {
    padding: 0.3rem 0;
    color: #12292F;
    display: flex;
    align-self: flex-start;
}

.header-status {
    border: 2px solid #5CCEEB;
    border-radius: 0.3125rem;
    padding: 0.2rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: #12292F;
    background: #12292f00;
    transition: background .2s ease;
}

/* .header-status:hover {
    background: #12292F;
    border: 2px solid #12292F;
    box-shadow: 0px 5px 15px rgba(31, 69, 78, 0.2);
    color: #C9EFF8;
    border: 0;
} */

.header-myaccount {
    opacity: 0;
    visibility: hidden;
    display: none;
}

#header-mobile{
    display: none;
}

#extension{
    position: absolute;
    top: 70px;
    left: 30px;
    font-size: 12px;
    font-weight: 600;
    color: #5CCEEB;
}

#extension a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #0000CC;
}

/* product image */

.ph-img-div{
    max-width: 430px;
    max-height: 300px;
    position: absolute;
    top: 100px;
    display: flex;
    left: 30px;
   
    background: #FFFFFF;
    border: 1px solid #C9EFF8;
}

.ph-img{
    width: 100%;
}

/* product name */

.ph-name-div{
    right: 25px;
    width: 450px;
    height: 40px;
    position: absolute;
    top: 100px;
    display: flex;
    left: 550px;
}

.ph-name{
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #272A2B;
}

/* main price */

#main-price-div{
    position: absolute;
    width: 110px;
    height: 33px;
    left: 530px;
    top: 200px;
}

.main_price{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #272A2B;
}

/* Get button */

#get-div{
    position: absolute;
    left: 530px;
    top: 230px;
}

.get-button{
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #272A2B;
    background: #5CCEEB;
    border: 1px solid #898E8F;
    border-radius: 4px;
    width: 100px;
    height: 32px;
}

/* konga button */

#konga-div{
    position: absolute;
    left: 880px;
    top: 200px;
}

.kon{
    position: absolute;
    left: 10px;
}

.konga-btn{
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #272A2B;
    background: #89898F;
    border: 1px solid #898E8F;
    border-radius: 4px;
    width: 100px;
    height: 25px;
} 

/* horzontal line */

#hr-l{
    position: absolute;
    width: 300px;
    height: 1px;
    left: 650px;
    top: 275px;
    background: #C9EFF8;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

/* social share */

#social-div{
    position: absolute;
    left: 530px;
    top: 280px;
}

.share{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #272A2B;
    width: 60px;
    height: 20px;
}

#social-img{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    position: absolute;
    left: 610px;
    top: 280px;
}

.face{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    order: 0;
    flex-grow: 0;
}

.insta{
    width: 20px;
    height: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
    border-radius: 50%;
}
 
.twiter{
    width: 20px;
    height: 20px;
    flex: none;
    order: 2;
    flex-grow: 0;
    border-radius: 50%;
}

#comment-img{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 865px;
    top: 283px;
}

#save-img{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 945px;
    top: 280px;
}

#love-img{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 900px;
    top: 280px;
}

/* menu */

#pro-d{
    position: absolute;
    left: 30px;
    top: 450px;
    border: 1px solid #C9EFF8;
}

#pro-dmo{
    display: none;
}

.handburger{
    display: flex;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #C9EFF8;
}
#hand{
    width: 70px;
    padding-left: 16px;
    padding-top: 5px;
}
.bar{
    display: block;
    width: 25px;
    height: 1px;
    margin-top: 3px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: #000000;
}
.ropbtn {
    justify-content: center;
    background-color: #ffffff;
    color: rgb(12, 11, 11);
    font-weight: 500;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border: none;
    width: 165px;
    margin: 0 auto;
 }
  
.dropd {
    position: absolute;
    display: block;
}
  
.dropdown-item {
    display: none;
    position: absolute;
    width: 236px;
    background-color: #f1f1f1;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-item .ad {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
 }
  
.dropdown-item .ad:hover {
    background: #AEE7F5;
    border: 1px solid #898E8F;
}
  
.dropd:hover .dropdown-item {
    display: block;
}

/* product details */

.pro-d2{
    width: 460px;
    height: 190px;
    background: #FFFFFF;
    border: 1px solid #C9EFF8;
}

#prod{
    position: absolute;
    left: 530px;
    top: 450px;
}

.pro{
    width: 460px;
    height: 25px;
    border: 1px solid #C9EFF8;
}

.pro-text{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #12292F;
    padding-left: 10px;
}

.pro-de{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #475252;
    padding: 10px;
}

/* specifications */

.spe-div{
    width: 450px;
    height: 150px;
    background: #FFFFFF;
    border: 1px solid #C9EFF8;
}

#speci{
    position: absolute;
    left: 530px;
    top: 690px;
}

.spe-div-sm{
    width: 450px;
    height: 25px;
    border: 1px solid #C9EFF8;
}

.spe{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #12292F;
    padding-left: 10px;
}

.d-ul{
    position: absolute;
    width: 430px;
    height: 160px;
    left: 20px;
    top: 30px;
}

.d-li{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    display: block;
    align-items: center;
    color: #475252;
    padding: 10px;
}

/* verified customer feedback */

.fe-div{
    width: 450px;
    height: 170px;
    background: #FFFFFF;
    border: 1px solid #C9EFF8;
}

#veri{
    position: absolute;
    left: 530px;
    top: 890px;
}

.ve-div{
    left: 10px;
    width: 450px;
    height: 25px;
    border: 1px solid #C9EFF8;
}

.ve-h4{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #12292F;
    padding-left: 10px;
}

.ra-div{
    position: absolute;
    width: 200px;
    height: 120px;
    left: 10px;
    top: 35px;
    background: #FFFFFF;
    border: 1px solid #DEF5FB;
}

.main-ra-div{
    position: absolute;
    width: 60px;
    height: 50px;
    left: 20px;
    top: 30px;
    background: #FFFFFF;
}

.main-ra{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #802121;
}

.ra-img-ma{
    position: absolute;
    width: 62px;
    height: 10px;
    left: 10px;
    top: 70px;
    background: #FFFFFF;
}

.img-ma-1{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0px;
    top: 0px;
}

.img-ma-2{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 14px;
    top: 0px;
}

.img-ma-3{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 30px;
    top: 0px;
}

.img-ma-4{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 46px;
    top: 0px;
}

.img-ma-5{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 62px;
    top: 0px;
}

.to-r{
    position: absolute;
    width: 51px;
    height: 24px;
    left: 21px;
    top: 85px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #272A2B;
}

.forw{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 175px;
    top: 1px;
}

.to-5{
    position: absolute;
    left: 108px;
    top: 55px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #36393B;
}

.to-4{
    position: absolute;
    left: 108px;
    top: 75px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #36393B;
}

.to-3{
    position: absolute;
    left: 108px;
    top: 95px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #36393B;
}
.to-2{
    position: absolute;
    left: 108px;
    top: 115px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #36393B;  
}

.to-1{
    position: absolute;
    left: 108px;
    top: 135px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #36393B;
}

.sp-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 135px;
    height: 94px;
    left: 125px;
    top: 60px;
}

.sp-5-div{
    width: 80px;
    height: 4px;
    background: #802121;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sp-4-div{
    width: 80px;
    height: 4px;
    background: #FFD9D9;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.sp-4{
    position: absolute;
    width: 36px;
    height: 4px;
    left: 0px;
    top: 20px;
    background: #802121;
    border-radius: 4px;
}

.sp-3-div{
    width: 80px;
    height: 4px;
    background: #FFD9D9;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.sp-3{
    position: absolute;
    width: 26px;
    height: 4px;
    left: 0px;
    top: 40px;
    background: #802121;
    border-radius: 4px;
}

.sp-2-div{
    width: 80px;
    height: 4px;
    background: #FFD9D9;
    border-radius: 4px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.sp-2{
    position: absolute;
    width: 11px;
    height: 4px;
    left: 0px;
    top: 60px;
    background: #802121;
    border-radius: 4px;
}

.sp-1-div{
    width: 80px;
    height: 4px;
    background: #FFD9D9;
    border-radius: 4px;
    flex: none;
    order: 4;
    flex-grow: 0;
}

.sp-1{
    position: absolute;
    width: 11px;
    height: 4px;
    left: 0px;
    top: 80px;
    background: #802121;
    border-radius: 4px;
}

/* david rio */

.rio-div{
    position: absolute;
    width: 220px;
    height: 120px;
    left: 220px;
    top: 35px;
    background: #FFFFFF;
    border: 1px solid #DEF5FB;
}

.D-div{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 5px;
    top: 6px;  
    background: #FF834F;
    border: 1px solid #898E8F;
    border-radius: 36px;
}

.D{
    position: absolute;
    width: 11px;
    height: 24px;
    left: 6px;
    top: 1px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #AEE7F5;
}

.DR{
    position: absolute;
    left: 40px;
    top: 9px;
}

.DR-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #272A2B;
}

.star{
    position: absolute;
    width: 66px;
    height: 10px;
    left: 5px;
    top: 33px;
}

.img-1{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0px;
    top: 0px;
}

.img-2{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 14px;
    top: 0px;
}

.img-3{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 28px;
    top: 0px;
}

.img-4{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 42px;
    top: 0px;
}
.img-5{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 56px;
    top: 0px;
}

.date-ra{
    position: absolute;
    left: 90px;
    top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #36393B;
}

.ra-text{
    position: absolute;
    width: 200px;
    height: 96px;
    left: 15px;
    top: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #36393B;
}

/* declimation */

#de-div{
    position: absolute;
    width: 960px;
    height: 125px;
    left: 30px;
    top: 1100px;
    background: #12292F;
}

.de{
    position: absolute;
    left: 15px;
    top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #DEF5FB;
}

.de-d{
    position: absolute;
    left: 15px;
    top: 30px;
    width: 930px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #DEF5FB;
}

/* simiilar items */

#c-div{
    position: absolute;
    width: 300px;
    height: 370px;
    left: 30px;
    top: 600px;
    border: 1px solid #C9EFF8;
}

.c-h4{
    position: absolute;
    width: 179px;
    height: 24px;
    left: 48px;
    top: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #272A2B;
}

.si-1{
    position: absolute;
    width: 120px;
    height: 80px;
    left: 14px;
    top: 30px;
    background: #FFFFFF;
    border: 1px solid #DEF5FB;
}

.si-2{
    position: absolute;
    width: 120px;
    height: 80px;
    left: 14px;
    top: 145px;   
    background: #FFFFFF;
    border: 1px solid #DEF5FB;
}

.si-3{
    position: absolute;
    width: 120px;
    height: 80px;
    left: 14px;
    top: 265px;
    background: #FFFFFF;
    border: 1px solid #DEF5FB;
}

.si-p1{
    position: absolute;
    width: 140px;
    height: 48px;
    left: 159px;
    top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #36393B;
}

.si-p2{
    position: absolute;
    width: 135px;
    height: 48px;
    left: 159px;
    top: 145px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #36393B;
}

.si-p3{
    position: absolute;
    width: 130px;
    height: 48px;
    left: 159px;
    top: 265px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #36393B;
}

.si-n1{
    position: absolute;
    width: 60px;
    height: 20px;
    left: 159px;
    top: 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #272A2B;
}

.si-n2{
    position: absolute;
    width: 64px;
    height: 20px;
    left: 159px;
    top: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #272A2B;
}
.si-n3{
    position: absolute;
    width: 60px;
    height: 20px;
    left: 159px;
    top: 324px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #272A2B;
}

/* Footer Section */

footer{
    position: absolute;
    top: 1450px;
    width: 900px;
    justify-content: space-between;
}

.main-footer{
    position: absolute;
    top: -200px;
    left: 50px;
    width: 100%;
}

.sub-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.footer-item {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 1rem;
}

.footer-item a {
    text-decoration: none;
    color:#475252;
    font-size: 0.8rem;
    font-weight: 600;
}

.footer-item h5 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 1rem;
}

.copyright {
    position: absolute;
    top: 1450;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #12292F;
    color: #DEF5FB;
    text-align: center;
    height: 3.0rem;
    width: 1006px;
}

/* Mobile version */

@media screen and (max-width: 500px){
    /* Header */
    #main-header{
        display: none;
    }

    #extension{
        position: absolute;
        left: 50px;
    }

    /* menu */

    #header-mobile{
        display: block;
        position: absolute;
        left: 45px;
        top: 10px;
        border: 1px solid #C9EFF8;
    }

    .handbur{
        display: flex;
        cursor: pointer;
        background-color: #FFFFFF;
        border: 1px solid #C9EFF8;
        width: 400px;
        height: 50px;
    }
    #hand-mobile{
        width: 50px;
        padding-left: 15px;
        padding-top: 11px;
    }
    .bars{
        display: block;
        width: 30px;
        height: 2px;
        margin-top: 3px;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        background-color: #000000;
    }
    
    .search{
        position: absolute;
        left: 60px;
        top: 9px;
        color: #65696A;
        background-color: #E4EDED;
        transition: box-shadow 0.1s ease-in-out 0s, color 0.1s ease-in-out 0s;
        color: rgb(12, 11, 11);
    }
    
    .dropd-mobile {
        position: absolute;
        display: block;
    }
    
    .dropdown-item-mo {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        font-weight: 500;
        font-size: 16px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-item-mo .ad-mobile {
        color: black;
        width: 400px;
        padding: 5px 10px;
        text-decoration: none;
        display: block;
        text-align: center;
    }
    
    .dropdown-item-mo .ad-mobile:hover {
        background: #AEE7F5;
        border: 1px solid #898E8F;
    }
    
    .dropd-mobile.active .dropdown-item-mo {
        display: block;
    }


    /* product image */

    .ph-img-div{
        width: 390px;
        height: 290px;
        position: absolute;
        top: 100px;
        left: 50px;
    }

    .ph-img{
        width: 100%;
    }

    /* product name */

    .ph-name-div{
        width: 373px;
        height: 61px;
        position: absolute;
        top: 400px;
        left: 50px;
    }

    .ph-name{
        font-weight: 400;
        font-size: 20px;
    }

    /* main price */

    #main-price-div{
        position: absolute;
        width: 100px;
        height: 24px;
        left: 50px;
        top: 480px;
    }

    .main_price{
        font-weight: 600;
        font-size: 16px;
    }

    /* Get button */

    #get-div{
        position: absolute;
        left: 50px;
        top: 510px;
    }

    /* konga button */

    #konga-div{
        position: absolute;
        left: 350px;
        top: 480px;
    }

    /* horzontal line */

    #hr-l{
        position: absolute;
        width: 400px;
        height: 1px;
        left: 40px;
        top: 560px;
    }

    /* social share */

    #social-div{
        position: absolute;
        left: 50px;
        top: 570px;
    }

    #social-img{
        position: absolute;
        left: 110px;
        top: 570px;
    }

    #comment-img{
        position: absolute;
        left: 344px;
        top: 574px;
    }

    #save-img{
        position: absolute;
        left: 400px;
        top: 570px;
    }

    #love-img{
        position: absolute;
        left: 370px;
        top: 570px;
    }

    /* menu */

    #pro-d{
        display: none;
    }

    #pro-dmo{
        display: block;
        position: absolute;
        left: 50px;
        top: 620px;
    }

    .dropdown-item {
        font-size: 15px;
        width: 234px;
    }

    .ropbtn {
        font-size: 15px;
     }

    /* product details */

    .pro-d2{
        width: 400px;
        height: 190px;
        background: #FFFFFF;
        border: 1px solid #C9EFF8;
    }


    #prod{
        position: absolute;
        left: 50px;
        top: 750px;
    }

    .pro{
        width: 400px;
        height: 25px;
        border: 1px solid #C9EFF8;
    }

    .pro-text{
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        color: #12292F;
        padding-left: 10px;
    }

    .pro-de{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        display: flex;
        align-items: center;
        color: #475252;
        padding: 9px;
    }

    /* specifications */

    .spe-div{
        width: 400px;
        height: 150px;
        background: #FFFFFF;
        border: 1px solid #C9EFF8;
    }

    .spe-div-sm{
        width: 400px;
        height: 25px;
        border: 1px solid #C9EFF8;
    }

    .spe{
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        color: #12292F;
        padding-left: 10px;
    }

    .d-ul{
        position: absolute;
        width: 380px;
        height: 160px;
        left: 20px;
        top: 30px;
    }

    .d-li{
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        display: block;
        align-items: center;
        color: #475252;
        padding: 10px;
    }

    /* verified customer feedback */

    .fe-div{
        width: 400px;
        height: 155px;
        background: #FFFFFF;
        border: 1px solid #C9EFF8;
    }

    .ve-div{
        width: 400px;
        height: 25px;
        border: 1px solid #C9EFF8;
    }

    .ve-h4{
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        color: #12292F;
        padding-left: 10px;
    }

    .ra-div{
        position: absolute;
        width: 175px;
        height: 120px;
        left: 2px;
        top: 30px;
    }

    .main-ra-div{
        position: absolute;
        width: 60px;
        height: 50px;
        left: 15px;
        top: 30px;
        background: #FFFFFF;
    }

    .main-ra{
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        color: #802121;
    }

    .ra-img-ma{
        position: absolute;
        width: 62px;
        height: 10px;
        left: 5px;
        top: 70px;
        background: #FFFFFF;
    }

    .img-ma-1{
        position: absolute;
        width: 10px;
        height: 10px;
        left: 0px;
        top: 0px;
    }

    .img-ma-2{
        position: absolute;
        width: 10px;
        height: 10px;
        left: 12px;
        top: 0px;
    }

    .img-ma-3{
        position: absolute;
        width: 10px;
        height: 10px;
        left: 24px;
        top: 0px;
    }

    .img-ma-4{
        position: absolute;
        width: 10px;
        height: 10px;
        left: 36px;
        top: 0px;
    }

    .img-ma-5{
        position: absolute;
        width: 10px;
        height: 10px;
        left: 48px;
        top: 0px;
    }

    .to-r{
        position: absolute;
        width: 51px;
        height: 24px;
        left: 10px;
        top: 85px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #272A2B;
    }

    .forw{
        position: absolute;
        width: 20px;
        height: 20px;
        left: 150px;
        top: 1px;
    }

    .to-5{
        position: absolute;
        left: 80px;
    }

    .to-4{
        position: absolute;
        left: 80px;
    }

    .to-3{
        position: absolute;
        left: 80px;
    }
    .to-2{
        position: absolute;
        left: 80px; 
    }

    .to-1{
        position: absolute;
        left: 80px;
    }

    .sp-div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        position: absolute;
        width: 135px;
        height: 94px;
        left: 92px;
        top: 60px;
    }

    /* david rio */

    .rio-div{
        position: absolute;
        width: 218px;
        height: 120px;
        left: 180px;
        top: 30px;
        background: #FFFFFF;
        border: 1px solid #DEF5FB;
    }

    .D-div{
        position: absolute;
        width: 24px;
        height: 24px;
        left: 5px;
        top: 5px;  
        background: #FF834F;
        border: 1px solid #898E8F;
        border-radius: 36px;
    }

    .D{
        position: absolute;
        width: 11px;
        height: 24px;
        left: 6px;
        top: 1px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #AEE7F5;
    }

    .DR{
        position: absolute;
        left: 40px;
        top: 9px;
    }

    .DR-text{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #272A2B;
    }

    .star{
        position: absolute;
        width: 66px;
        height: 10px;
        left: 5px;
        top: 36px;
    }

    .date-ra{
        position: absolute;
        left: 90px;
        top: 32px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #36393B;
    }

    .ra-text{
        position: absolute;
        width: 200px;
        height: 96px;
        left: 10px;
        top: 56px;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        color: #36393B;
    }

    /* declimation */

    #de-div{
       display: none;
    }

    /* simiilar items */

    #c-div{
        position: absolute;
        width: 350px;
        height: 380px;
        left: 50px;
        top: 1050px;
        border: 1px solid #C9EFF8;
    }

    .c-h4{
        position: absolute;
        width: 179px;
        height: 24px;
        left: 70px;
        top: 3px;
    }

    .si-1{
        position: absolute;
        width: 150px;
        height: 100px;
    }

    .si-2{
        position: absolute;
        width: 150px;
        height: 100px;
    }

    .si-3{
        position: absolute;
        width: 150px;
        height: 100px;
    }

    .si-p1{
        position: absolute;
        width: 140px;
        height: 48px;
        left: 200px;
    }

    .si-p2{
        position: absolute;
        width: 135px;
        height: 48px;
        left: 200px;
    }

    .si-p3{
        position: absolute;
        width: 130px;
        height: 48px;
        left: 200px;
    }

    .si-n1{
        position: absolute;
        width: 60px;
        height: 20px;
        left: 200px;
    }

    .si-n2{
        position: absolute;
        width: 64px;
        height: 20px;
        left: 200px;
    }
    .si-n3{
        position: absolute;
        width: 60px;
        height: 20px;
        left: 200px;
    }

    /* Footer Section */

    footer{
        position: absolute;
        top: 1450px;
        width: 500px;
    }

    #main-footer{
        position: absolute;
        top: 1250;
        left: 30px;
        width: 910;
    }

    .main-footer {
        display: none;
    }

    .copyright {
        position: absolute;
        top: 1450;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #12292F;
        color: #DEF5FB;
        text-align: center;
        height: 3.0rem;
        width: 500px;
    }

}

/* Comment */

.comment-div{
    width: 390px;
    height: 230px;
    background: #FFFFFF;
    border: 1px solid #C9EFF8;
}

.comment-div h4{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #12292F;
    text-align: center;
}

.comment-div h5{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #12292F;
    text-align: center;
}

.comment-div ol{
    width: 370px;
    height: 100px;
    overflow: auto;
}

.comment-div li{
    display: flex;
    flex-direction: column;
}

.comment-de{
    display: flex;
    flex-direction: row;
}

.post-com .text{
    width: 350px;
}

.user{
    padding-left: 50px;
}

.post-com{
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    display: block;
    align-items: center;
    color: #475252;
    padding: 10px;
}


.add-comment{
    display: flex;
    flex-direction: column;
}

.add-comment button{
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #272A2B;
    background: #5CCEEB;
    border: 1px solid #898E8F;
    border-radius: 4px;
    width: 80px;
    height: 20px;
}

.add-comment textarea{
    width: 390px;
    border: 1px solid #C9EFF8;
}